SOCIAL_NETWORK_LOGIN='user1'
SOCIAL_NETWORK_PASSWORD='user23267r123'
SOCIAL_NETWORK_EMAIL='user1@gmail.com'

CHROME_DRIVER_PATH='<path to chromedriver on your OS>'
SOCIAL_NETWORK_HOST='127.0.0.1'
SOCIAL_NETWORK_PORT=5000